[Unit]
Description=CourseWatcher Service
After=network.target

[Service]
Type=simple
User=alistair
WorkingDirectory=/home/alistair/CourseWatcher
ExecStart=/home/alistair/.local/bin/uv run main.py --token INSERT_TOKEN_HERE
Restart=on-failure

[Install]
WantedBy=multi-user.target